@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  margin: 0;
}

.auth_tabs button[data-state="inactive"] {
  color: rgba(26, 59, 88, 0.33);
  border-bottom: 3px solid transparent;
}
.auth_tabs button[data-state="active"] {
  border-bottom: 3px solid #1a3b58;
  color: #1a3b58;
}
